<form action="/search" method="POST">
  <label for="searchString">search</label>
  <input type="text" name="searchString" />

  <label for="searchDate">date</label>
  <input type="date" name="searchDate" />

  <button type="'submit">Search in my server</button>
</form>