<div>
  <h1>This is what u sent me...</h1>
  <p>{{searchString}}</p>
  <p>{{searchDate}}</p>

  <h3>
    here are your results
  </h3>
  <ul>
    {{#each searResult}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>